<div class="container-fluid ">
  <div class="card shadow">
    <div class="card-body">
      <table data-toggle="table" id="table" data-pagination="true" data-search="true" data-show-search-button="true" data-toggle="table" data-page-number="2">
        <thead>
          <tr>
            <th data-sortable="true"></th>
            <th data-sortable="true">Name</th>
            <th data-sortable="true">Email</th>
            <th data-sortable="true">Message</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Item 1</td>
            <td>$1</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Item 2</td>
            <td>$2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>